@keyframes animated_menu_show {
	0% { left: -300px; box-shadow: 0 0 0 gray; }
	100% { left: 0; box-shadow: 0 0 20px gray; }
}

@keyframes animated_menu_hide {
	0% { left: 0; box-shadow: 0 0 20px gray; }
	100% { left: -300px; box-shadow: 0 0 0 gray; }
}

@keyframes animated_blur {
	0% { 
		backdrop-filter: blur(0px) brightness(100%) saturate(100%);
		-webkit-backdrop-filter: blur(0px) brightness(100%) saturate(100%);
	}
	100% { 
		backdrop-filter: blur(8px) brightness(200%) saturate(150%);
		-webkit-backdrop-filter: blur(8px) brightness(200%) saturate(150%);
	}
}

@keyframes animated_arrow_enable {
	0% { transform: rotateX(0deg); }
	100% { transform: rotateX(180deg); }
}

@keyframes animated_arrow_disable {
	0% { transform: rotateX(180deg); }
	100% { transform: rotateX(0deg); }
}

.backend_menu {
	position: absolute;
	width: 300px;
	height: 100vh;
	left: -300px;
	background-color: #00152a;
	box-shadow: 0 0 10px gray;
	z-index: 3;
}

.backend_menu_header {
	margin: 4px 10px;
	height: 48px;
	width: calc(100% - 10px - 10px);
	display: flex;
	justify-content: space-between;
}

.backend_menu_close {
	width: 28px;
	height: 28px;
	background-image: url('/share/icon/close.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.backend_menu_logo {
	margin-top: -10px;
	width: 200px;
	/* height: 68px; */
	background-image: url('/share/icon/thaipost_white.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.backend_menu_content {
	width: 100%;
	padding-top: 40px;
	height: calc(100vh - 48px - 10px - 40px);
	overflow-y: auto;
}

.backend_menu_item {
	width: 100%;
	height: 48px;
	display: flex;
	cursor: pointer;
	user-select: none;
}

.backend_menu_item:hover {
	background-color: rgba(26, 144, 254, 0.5);
}

.backend_menu_item.active {
	background-color: #1a90fe;
}

.backend_menu_icon {
	margin: auto 15px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.backend_menu_label {
	height: 48px;
	color: white;
	font-size: larger;
}

.backend_menu_label:before {
	content: "";
	display: inline-block;
	height: 54px;
	vertical-align: middle;
}

.backend_menu_arrow {
	margin: 10px 15px 17px 20px;
	width: 24px;
	height: 24px;
	background-image: url('/share/icon/arrow.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.backend_menu_sub {
	background-color: #0c0c0c;
	overflow: hidden;
	height: 0;
	transition: height 0.25s;
}

.backend_menu_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 1;
	touch-action: none;
}

@media screen and (min-width: 992px) {
	.backend_menu {
		animation: none;
		left: 0;
	}
	
	.backend_menu_close {
		display: none;
	}

	.backend_menu_logo {
		margin: 0;
		width: 100%;
	}

	#backend_menu_background {
		display: none;
	}
}