.backend_setting_container {
	margin: 15px 0;
	width: 100%;
}

.backend_setting_content {
	padding: 30px 15px;
	margin-top: 15px;
	width: 100%;
	background-color: white;
	box-shadow: 0 0 10px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backend_setting_logout {
	width: 60px;
	padding: 5px 10px;
	margin: -5px 0;
	background-color: red;
	color: white;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

@media screen and (min-width: 992px) {
	.backend_setting_container {
		margin: 15px;
		width: calc(100% - 15px - 15px);
	}

	.backend_setting_content {
		border-radius: 5px;
	}
}