__pycache__/
*.py[cod]
*.Identifier

gaimon/share/addressbook
gaimon/share/customer
gaimon/share/inventory
gaimon/share/procure
gaimon/share/product
gaimon/share/production
gaimon/share/sale
gaimon/share/stock
gaimon/share/supplier
gaimon/share/thaiarea
gaimon/share/warehouse

gaimon/view/addressbook
gaimon/view/customer
gaimon/view/inventory
gaimon/view/procure
gaimon/view/product
gaimon/view/production
gaimon/view/sale
gaimon/view/stock
gaimon/view/supplier
gaimon/view/thaiarea
gaimon/view/warehouse

gaimon/file/addressbook
gaimon/file/customer
gaimon/file/inventory
gaimon/file/procure
gaimon/file/product
gaimon/file/production
gaimon/file/sale
gaimon/file/stock
gaimon/file/supplier
gaimon/file/thaiarea
gaimon/file/warehouse

NW/share
NW/view
NW/config.json
NW/index.html
NW/package.json

deploy/pgreplication/data
deploy/pgreplication/docker-compose.yml
deploy/pgreplication/createuser.sql
deploy/pgreplication/Password.json
gaimon/file/
docker-compose.yml
docker-production
gaimon/config/production/Password.json
build
dist
gaimon.egg-info
.vscode/settings.json
gaimon/document/adyou
gaimon/share/accounting
gaimon/share/adyou
gaimon/document/adzyou
gaimon/document/artist
gaimon/document/certificate
gaimon/document/cms
gaimon/document/creaverse
gaimon/document/erpbase
gaimon/document/forum
gaimon/document/franky
gaimon/document/gaimon
gaimon/document/intangible
gaimon/document/lms
gaimon/document/orgstruct
gaimon/document/procure
gaimon/document/resident
gaimon/document/sale
gaimon/document/stock
gaimon/document/thaiarea
gaimon/document/thaiartisan
gaimon/document/thaimeccsite
gaimon/document/transportation
gaimon/document/vehicle
gaimon/extension
gaimon/share/adzyou
gaimon/share/appraisal
gaimon/share/artist
gaimon/share/certificate
gaimon/share/cms
gaimon/share/creaverse
gaimon/share/erpbase
gaimon/share/expense
gaimon/share/forum
gaimon/share/franky
gaimon/share/gaimon
gaimon/share/gaimoncloud
gaimon/share/infinitypa
gaimon/share/intangible
gaimon/share/lms
gaimon/share/machine
gaimon/share/orgstruct
gaimon/share/resident
gaimon/share/stockcount
gaimon/share/thaiartisan
gaimon/share/thaimeccsite
gaimon/share/tobacco
gaimon/share/training
gaimon/share/transportation
gaimon/share/vehicle
gaimon/share/ximpleerpsite
gaimon/view/accounting
gaimon/view/adyou
gaimon/view/adzyou
gaimon/view/appraisal
gaimon/view/artist
gaimon/view/certificate
gaimon/view/cms
gaimon/view/creaverse
gaimon/view/erpbase
gaimon/view/expense
gaimon/view/forum
gaimon/view/franky
gaimon/view/gaimon
gaimon/view/gaimoncloud
gaimon/view/infinitypa
gaimon/view/intangible
gaimon/view/lms
gaimon/view/machine
gaimon/view/orgstruct
gaimon/view/resident
gaimon/view/stockcount
gaimon/view/thaiartisan
gaimon/view/thaimeccsite
gaimon/view/tobacco
gaimon/view/training
gaimon/view/transportation
gaimon/view/vehicle
gaimon/view/ximpleerpsite
gaimon/gaimon
gaimon/document/accounting
gaimon/document/expense
