__pycache__/
*.py[cod]
*.Identifier

gaimon/share/addressbook
gaimon/share/customer
gaimon/share/inventory
gaimon/share/procure
gaimon/share/product
gaimon/share/production
gaimon/share/sale
gaimon/share/stock
gaimon/share/supplier
gaimon/share/thaiarea
gaimon/share/warehouse

gaimon/view/addressbook
gaimon/view/customer
gaimon/view/inventory
gaimon/view/procure
gaimon/view/product
gaimon/view/production
gaimon/view/sale
gaimon/view/stock
gaimon/view/supplier
gaimon/view/thaiarea
gaimon/view/warehouse

gaimon/file/addressbook
gaimon/file/customer
gaimon/file/inventory
gaimon/file/procure
gaimon/file/product
gaimon/file/production
gaimon/file/sale
gaimon/file/stock
gaimon/file/supplier
gaimon/file/thaiarea
gaimon/file/warehouse

deploy/pgreplication/data
deploy/pgreplication/docker-compose.yml
deploy/pgreplication/createuser.sql
deploy/pgreplication/Password.json
gaimon/file/
docker-compose.yml
docker-production
gaimon/config/production/Password.json
build
dist
gaimon.egg-info