__pycache__/
*.py[cod]
*.Identifier

NW/share
NW/view
NW/config.json
NW/index.html
NW/package.json

deploy/pgreplication/data
deploy/pgreplication/docker-compose.yml
deploy/pgreplication/createuser.sql
deploy/pgreplication/Password.json
gaimon/file/
docker-compose.yml
docker-production
gaimon/config/production/Password.json
build
dist
gaimon.egg-info
.vscode/settings.json
.vscode/launch.json
git.ximple
git.hub