
body {
	/* background: linear-gradient(-45deg, #8BC6F7, #6793B8, #3D576C, #436078, #2E4152); */
	height: 100vh;
	margin: 0;
	font-family: var(--main-font-family);
    font-size: 1em;
    user-select: none;
	background: linear-gradient(150deg, rgba(24,142,154,1) 0%, rgba(25,147,160,1) 30%, rgba(24,142,154,1) 50%, rgba(40,210,227,1) 100%);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	background: var(--main-sidebar-background-color);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


div{
    box-sizing: border-box;
}

.login-page, .register-page{
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login-card{
    position: absolute;
    /* background: rgb(0 0 0 / 70%); */
    top: calc(50vh - 587px / 2 );
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
    color: #fff;
	border-radius: 10px;
}

.login-box{
    padding: 30px 30px;
    padding-top: 20px;    
    display: flex;
    gap: 10px;
    flex-direction: column;
	width: 350px;
}

.login-card .icon{
	background: #3d576c;
    padding: 5px;
    display: flex;
    width: 44px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}

.login-card .login-input-text{
	width: 100%;
}

.login-forgot-password{
    color: #97afff;
    cursor: pointer;
}

.login-input-block{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.login-register {
    color: #97afff;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
}

.login-topic{
    text-align: left;
    font-size: 2rem;
    color: #fff;
	/* background: var(--main-sidebar-submenu-background-color); */
    padding: 10px 0;
    padding-left: 30px;
	padding-right: 30px;
	/* border-radius: 10px 10px 0 0; */
}

.register-page{
    position: fixed;
    z-index: 3;
    background: rgb(0 0 0 / 50%);
    top: 0;
}

.login-header{
    background: #165283;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #000;
}

.form{
    background: #fff;
    position: absolute;
    border: 2px solid #000;
    border-radius: 14px 14px 5px 5px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 20%);
}

.login-container{
    padding: 20px;
}

input{
    font-size: 1em;
    font-family: var(--main-font-family);
    color: #fff;
    border: none;
    background: #5e89ad;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    outline: none;
}

input::placeholder{
    color: #fff;
}

.login-input-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

.login-button{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
	background: var(--main-sidebar-menu-button-selected-background-color);
}

.login-checkbox-block {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.register-button{
    background: #ffa500;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.line{
    background: #ddd;
    height: 1px;
}

/* .dialog{
    background: #fff;
    position: absolute;
    border: 2px solid #000;
    border-radius: 14px 14px 5px 5px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 20%);
} */

.dialog{
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(8px) brightness(100%) saturate(50%);
	left: 0;
	top: 0;
}

.dialog .container{
	position: absolute;
	top: 10vh;
	text-align: left;
	border-radius: 5px;
	min-width: 350px;
	max-width: 350px;
	max-height: 90vh;
	height: auto;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	background: #072c30;
	color: #fff;
}

.dialog .container .topic{
	border-radius: .25rem .25rem 0 0;
	padding: 15px;
	background: #041618;
	color: #fff;
}

.dialog .container input{
	box-sizing: border-box;
	width: 100%;
}

.dialog .container .button{
	padding: 0 20px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

.dialog .container .button.submit{
	background: #004C99;    
}

.dialog .container .button.cancel{
	background: #808080;
}

#register-dialog{
    background: #fff;
    position: absolute;
    border-radius: 14px 14px 5px 5px;
    border: 2px solid #000;
    border-radius: 13px 13px 5px 5px;
    box-shadow: 0 0 20px 5px rgb(0 0 0 / 50%);
}

.register-submit{
    width: 50%;
    background: #00c300;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.register-cancel{
    width: 50%;
    background: #ff5b5b;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.warning-label{
	color: red;
	text-align: center;
}

.login-divider{
	text-align: center;
}

.login-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.login-social-button {
    cursor: pointer;
}

.login-social-button img {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 576px) {
    .login-box{
        padding: 30px 30px;
    }

    .login-topic{
        padding-left: 50px;
    }
}

.user-login-name{
    font-size: 3.2rem;
    color: #ffa500;
    font-weight: bold;
}